* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("../assets/img/fundo.jpg");
}

nav{
  margin: 0px;
  padding: 0px;
  position: sticky;
  z-index: 5;
  top: 0px;
  background-color: white;
  height: 180px;
}
.name{
  font-family: Belleza;
  font-size: 40px;
  text-align: center;
  height: 110px;
  border-bottom: 7px solid #4B1030;
  padding: 10px 0px 10px 0px;
}

.name a {
  text-decoration: none;
  color: #4B1030;
}

.btn_nav ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 60px;
  padding: 10px 0px 10px 0px;
}

.btn_nav li a {
  display: inline-block;
  font-family: Belleza;
  font-size: 32px;
  transition: transform 0.6 ease-in-out;
  color: black;
  text-decoration: none;
}

.btn_nav li a:hover {
  transform: scale(1.1);
  color: #4B1030;
}

main {
  font-family: 'Merriweather', serif;
}

.title {
  text-align: center;
  padding: 40px;
  font-size: 32px;
}

.contatos {
  display: flex;
  justify-content: center;
  height: 400px;
}

.inf-contato {
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  background-color: #A6A6A6;
  border-radius: 30px;
  padding: 50px;
  margin: 0px 60px 0px 0px;
}

.inf-contato a {
  text-decoration: none;
  color: black;
}

.inf-item {
  padding: 15px;
}

.contact-form {
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  background-color: #A6A6A6;
  border-radius: 30px;
  padding: 50px;
  margin: 0px 0px 0px 60px;
}

.form-group {
  padding: 15px;
} 

.btn-contato {
  border-radius: 15px;
  background-color: white;
  color: black;
  height: 40px;
  width: 150px;
}