* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

nav {
  margin: 0px;
  padding: 0px;
  position: sticky;
  z-index: 5;
  top: 0px;
  background-color: white;
  height: 180px;
}

.name {
  font-family: Belleza;
  font-size: 40px;
  text-align: center;
  height: 110px;
  padding: 10px 0px 10px 0px;
}

hr {
    height: 7px;
    background: linear-gradient(to right, #ffffff 0%,
    #dddddd 20%,
    #bb6688 40%,
    #4B1030 50%,
    #bb6688 60%,
    #dddddd 80%,
    #ffffff 100%);
    background-position: 0% 0%;
    background-size: 200% 100%;
    border: none;
    animation: linha-roxa 5s ease-in-out infinite alternate;
}

@keyframes linha-roxa {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.name a {
  text-decoration: none;
  color: #4b1030;
}

.btn_nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 60px;
  padding: 10px 0px 10px 0px;
}

.btn_nav li a {
  display: inline-block;
  font-family: Belleza;
  font-size: 32px;
  transition: transform 0.6 ease-in-out;
  color: black;
  text-decoration: none;
}

.btn_nav li a:hover {
  transform: scale(1.1);
  color: #4b1030;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  background-color: #f5f5f5;
  border: 2px solid #4b1030;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.conteudo-texto {
  flex: 1;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

main h1 {
  font-family: "Belleza", serif;
  color: #4b1030;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: left;
}

main p {
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}
main p::first-letter{
  font-size: 36px;
  font-weight: bold;
  color: #4b1030;
  font-family:'Times New Roman', Times, serif;
}

.imagem-sobre video {
  width: 100%;
  height: auto;
  max-height: 650px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(75, 16, 48, 0.1);
  border: 5px solid white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagem-sobre video:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 30px rgba(75, 16, 48, 0.15);
}


@media (max-width: 992px) {
  main {
    flex-direction: column;
    padding: 30px;
  }
}
  .conteudo-texto {
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .imagem-sobre video {
    max-height: 500px;
  }